<!DOCTYPE HTML>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSUN Directory With METAPHOR</title>
    <meta name="description" content="">
    <link rel="icon" href="//www.csun.edu/sites/default/themes/csun/favicon.ico" type="image/x-icon">
    <!-- CSUN Branded Fonts -->
    <script src="//use.typekit.net/gfb2mjm.js"></script>
    <script>
    try {
        Typekit.load();
    } catch (e) {}
    </script>
    <link rel="stylesheet" href="../../bower_components/metaphor/dist/css/metaphor.css">
    <link rel="stylesheet" href="../../public/css/app.css">
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.css">
</head>

<body>
    <nav class="primary-nav--black">
        <div class="container">
            <div class="primary-nav__mobile">
                <div class="primary-nav__btn">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <div class="primary-nav__brand"><span class="sr-only">California State University, Northridge (CSUN)</span></div>
            </div>
            <ul class="primary-nav__links">
                <li><a class="primary-nav__link active" href="#">Nav Link</a></li>
                <li><a class="primary-nav__link" href="#">Nav Link</a></li>
                <li><a class="primary-nav__link" href="#">Nav Link</a></li>
            </ul>
        </div>
    </nav>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 bg--black" style="height: 100px;"></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col col-md-3 side-box">
                                <br>
                                <h4>Contact</h4>
                                <p>Admissions and Records Cal State Northridge 18111 Nordhoff Street Northridge, CA 91330-8207 (818) 677-3700 Fax (818) 677-3766</p>
                                <a href="">Email A&R</a>
                                <p>We are located in Bayramian Hall, 1st Floor Lobby (BH 100).</p>
                                <hr>
                                <h4>Summer Hours</h4>
                                <p class="header--sm">Effective 5/29/17–8/11/17:</p>
                                <ul class="list">
                                    <li class="list__item">Mondays* & Thursdays: 10:00 am to 4:30 pm</li>
                                    <li class="list__item">Tuesdays & Wednesdays:* 10:00 am to 6:30 pm</li>
                                    <li class="list__item">Fridays: 10:00 am to 4:00 pm</li>
                                    <li class="list__item">*Open 8:30 am Mon, 6/19 & 7/10; and Wed, 7/19.</li>
                                    <li class="list__item">CAMPUS CLOSED: Tuesday, July 4, Independence Day</li>
                                </ul>
                            </div>
                            <div class="col col-md-6">
                                <h1>Admissions and Records</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae sint voluptatem voluptatum rerum similique repellat ipsum nesciunt, vitae, magni molestiae nihil ratione ut officiis architecto blanditiis. Id repudiandae praesentium obcaecati.</p>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4 panel admin-box"><a href="" class="type--white ">Admissions Calendar</a></div>
                                        <div class="col-md-4 panel admin-box"><a href="" class="type--white">Admissions Calendar</a></div>
                                        <div class="col-md-4 panel admin-box"><a href="" class="type--white">Admissions Calendar</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 panel admin-box"><a href="" class="type--white">Admissions Calendar</a></div>
                                        <div class="col-md-4 panel admin-box"><a href="" class="type--white">Admissions Calendar</a></div>
                                        <div class="col-md-4 panel admin-box"><a href="" class="type--white">Admissions Calendar</a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 panel admin-box"><a href="" class="type--white">Admissions Calendar</a></div>
                                        <div class="col-md-4 panel admin-box"><a href="" class="type--white">Admissions Calendar</a></div>
                                        <div class="col-md-4 panel admin-box"><a href="" class="type--white">Admissions Calendar</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-3 side-box">
                                <h4>Explore</h4>
                                <ul class="nav">
                                    <li class="nav__item nav__item--active">
                                        <a href="#" class="nav__link">Link #1</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Link #2</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Link #3</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Link #4</a>
                                    </li>
                                    <li class="nav__item">
                                        <a href="#" class="nav__link">Link #4</a>
                                    </li>
                                </ul>
                                <hr>
                                <h2 class="type--iris">Social Media</h2>
                                <span><i class="fa fa-5x fa-youtube-play" aria-hidden="true"></i></span>
                                <span><i class="fa fa-5x fa-twitter" aria-hidden="true"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <dl class="accordion">
                        <dt class="accordion__header"> Topic #1 </dt>
                        <dd class="accordion__content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ab eveniet cumque. Laborum, eveniet autem quae hic vitae corporis voluptates odio at culpa repellendus minus! Vitae architecto optio quae. Ad?</p>
                        </dd>
                        <dt class="accordion__header"> Topic #2 </dt>
                        <dd class="accordion__content">
                            <p>Lorsdsdsdem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ab eveniet cumque. Laborum, eveniet autem quae hic vitae corporis voluptates odio at culpa repellendus minus! Vitae architecto optio quae. Ad?</p>
                        </dd>
                        <dt class="accordion__header"> Topic #3 </dt>
                        <dd class="accordion__content">
                            <p>Lorsdsdsdem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ab eveniet cumque. Laborum, eveniet autem quae hic vitae corporis voluptates odio at culpa repellendus minus! Vitae architecto optio quae. Ad?</p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="http://cdn.metalab.csun.edu/metaphor/js/metaphor.js"></script>
</body>

</html>
